<!DOCTYPE html>
<html lang="en">
  	<head>
    	<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    	<meta name="HandheldFriendly" content="true">
    
    	<title>Fast Food Fast | Register</title>
    
    	<link rel="stylesheet" type="text/css" href="css/styles.css">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	</head>

	<body>
		<form action="index.html">
			<button class="btn"><i class="fa fa-home"></i></button>
		</form>
		<form action="" method="">
			<div class="Register">
				<h1>Let's set up your account!</h1>
				
				<input type="text" placeholder="Name" name="name">  
				<input type="text" placeholder="E-mail" name="email">  
				<input type="text" placeholder="User name" name="user">  
				<input type="password" placeholder="Password" name="pass">  
				<input type="password" placeholder="Retype password" name="re-pass"></br>

				<input type="submit" value="Register Now"></br>

				<a href='login.html' class="forgot"><strong>Back to Login!</strong></a>
				</br>

			</div>
		</form>
	</body>

</html>
