*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	transition: 0.5s;
}

body{
	background: url(../images/bg.jpg);
	background-size:     cover;
	background-repeat:   no-repeat;
}

#account{
	position: fixed;
	width: 200px;
	
	background: #151719;
	right: -200px;
	
		
}


#account.active{
	right: 0px;
}

#account .toggle-btn1{
	position: absolute;
	right: 215px;
	
}

#account .toggle-btn1 span{
	display: block;
	width: 70px;
	height: 15px;
	background-color: #2ab7ec;
	margin: 10px 4px;
}

#account .toggle-btn1 span:hover {
    background-color: RoyalBlue;
    cursor: pointer;
}


.dropbtn1 {
	color: rgba(230,230,230,0.9);
	list-style: none;
	padding: 16px 12px;
	border-bottom: 1px solid rgba(100,100,100,0.3);
    font-size: 16px;
    cursor: pointer;
    width: 220px;
}

.dropdown1 button{
	width: 220px;
    background-color: #151719;
    color: rgba(230,230,230,0.9);
    border-bottom: 1px solid rgba(100,100,100,0.3);
    align-self: center;
    font-family: arial;
    font-size: 16px;
}
.dropdown1 {
    position: relative;
    display: inline-block;
    width: 220px;
    background-color: #151719;
    color: rgba(230,230,230,0.9);
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #B8B8B8;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    width: 220px;
 
}

.dropdown-content1 a {
	text-decoration: none;
	display: block;
	color: #666666;
	list-style: inside;
	padding: 16px 12px;
	border-bottom: 1px solid rgba(100,100,100,0.3);
	width: auto;
}

.dropdown-content1 a:hover {
	background-color: #f1f1f1;
	color: black;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.dropdown1:hover .dropbtn1 {
    background-color: #2ab7ec;
}


#sidebar{
	position: fixed;
	width: 220px;
	height: 70%;
	background: #151719;
	left: -220px;
	top: 90px;
 }

#sidebar.active{
	left: 0px;
}

#sidebar .toggle-btn{
	position: absolute;
	left: 235px;
	
}

#sidebar .toggle-btn span{
	display: block;
	width: 30px;
	height: 5px;
	background-color: #2ab7ec;
	margin: 5px 0px;
}

#sidebar .toggle-btn span:hover {
    background-color: RoyalBlue;
    cursor: pointer;
}


.dropbtn {
	color: rgba(230,230,230,0.9);
	list-style: none;
	padding: 16px 12px;
	border-bottom: 1px solid rgba(100,100,100,0.3);
    font-size: 16px;
    cursor: pointer;
    width: 220px;
}

.dropdown button{
	width: 220px;
    background-color: #151719;
    color: rgba(230,230,230,0.9);
    border-bottom: 1px solid rgba(100,100,100,0.3);
    align-self: center;
    font-family: arial;
    font-size: 16px;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 220px;
    background-color: #151719;
    color: rgba(230,230,230,0.9);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B8B8B8;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    width: 220px;
 
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  color: #666666;
	list-style: inside;
	padding: 16px 12px;
	border-bottom: 1px solid rgba(100,100,100,0.3);
	width: auto;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
	color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #2ab7ec;
}




.btnh {
    background-color: #2ab7ec;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    top: 10%;
    left: 10%;
    margin-top: 30px;
    margin-left: -30px;
}
  
.btnh:hover {
    background-color: RoyalBlue;
}

#content-main {
  top: 80px;
  bottom: 20px;
  padding: 9px;
  overflow-x: hidden;
  position: absolute;
  height: 84%;
  width: 96.5%;
  left: 1.2%;
  outline: 1px solid RoyalBlue;
  align-self: center;
}

#content-page{
  margin-left: 5%;
  margin-right: 3%;
  margin-bottom: 2%;
  margin-top: 10px;
}

.footer {
  position: fixed;
  right: 4%;
  bottom: 0.4%;
  left: 2%;
  height: 20px;
  padding: 5px;
  background-color: #efefef;
  opacity: 0.5;
  font-family: sans-serif;
  color: #939393;
  text-align: center;
  align-self: center;
}

.footer .copyrt{
  float: left;
}

.footer .shre{
  float: right;
}
